 table {
     margin: 20px 0px 0px 90px;
     width: 90%;
 }

 .pacientes-container {
     padding: 20px;
 }

 .filtro {
     margin-left: 90px;
 }

 .add {
     margin-right: 40px;
     float: right;
 }

 section {
     display: table;
 }

 .material-icons.md-24 {
     font-size: 24px;
 } 