<mat-toolbar color="primary">
  <span>UpFlux</span>
</mat-toolbar>

<div class="pacientes-container">
  <ng-container>
    <mat-form-field class="filtro">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="filter($event)" #input>
    </mat-form-field>
    <button mat-raised-button color="primary" class="add" (click)="openDialogCriar()">
      Adicionar Paciente
    </button>
  </ng-container>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="material-icons md-24" color="primary" (click)="openDialogExluir(element)">
          <mat-icon>delete</mat-icon>
        </button> 
        <button mat-icon-button color="accent" (click)="openDialogDetalhes(element.id)">
          <mat-icon>description</mat-icon>
        </button> 
        <button mat-icon-button color="warn" class="material-icons md-24" (click)="openDialogEditar(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>