html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} 

.success-snackbar {
    background: #6A8820; 
}

.red-snackbar { 
    background: #F44336;
}

 